#editor-wrapper {
    height: 100%;
    border-radius: 0px;
    z-index: 9999;
    display: block;
}

#editorCoffee {
  left: 0;
  right: 50%;
}
#editorJS {
  left: 50%;
  right: 0;
}
.editor {
  position: absolute !important;
  bottom: 0;
  top: 0;
  margin: 0;
}
#infobox {
  position: absolute;
  top: 0;
  right: 50%;
  width: auto;
  z-index: 5;
}
.infobox-content {
  background: red;
  text-align: right;
  padding: 10px;
}
.arrow-wrapper {
  width: 100%;
}
.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 0px solid transparent;
  border-right: 12px solid transparent;
  border-top: 17px solid red;
}