doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title jstestabul
        meta(name='description', content='share javascript standards, compare javascript to coffeescript, unit test javascript, run benchmarks on javascript')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content=)
        link(rel='stylesheet', href='css/loading.css')
        link(rel='stylesheet', href='css/mocha.css')
        link(rel='stylesheet', href='css/responsiveGrid.css')
        link(rel='stylesheet', href='css/menu.css')
        script(type='text/javascript', src='lib/mocha.js')
        script(type='text/javascript', src='lib/knockout.js')
        script(type='text/javascript', src='lib/knockout.validation.js')
        script(type='text/javascript', src='lib/jquery.js')
        script(type='text/javascript', src='lib/require.js', data-main="main.js")
        script(type='text/javascript', src='//localhost:1337/livereload.js')
    body
        #outer.outer
            .loading(style="display:block;",data-bind='visible: !viewBounded') Loading&#8230;
            #applicationHost.wrap()
                include ./sideNav
                .page-wrap
                    header#main-header.main-header.well
                        a#open-menu.open-menu(href="#main-nav")
                        a#close-menu.close-menu(href="#")

                        div#page-nav(style='position: absolute; left: 70px; top: 0px; padding: 3px !important;')
                            ul.nav.navbar-nav(data-bind='foreach: router.navigationModel')
                              li(data-bind='css: { active: isActive }')
                                a(data-bind='attr: { href: hash }, html: title')

                        .well(style='float:right; top: 2px; padding: 3px !important;')
                            span#totalPassed.well.badge.badge-success.headCount(data-bind='text: stats.passes()')
                            span#totalFailed.well.badge.badge-important.headCount(data-bind='text: stats.failures(), visible: stats.failures() > 0')


                    div.results.well()
                        block content

