
<nav id="main-nav" data-bind="closeMenu" class="main-nav menu well">
  <div class="collapse-inner">
    <div class="navbar navbar-inverse menu-title"><span class="badge badge-info">Themes</span></div>
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="" data-bind="click: function(){navBindings.setTheme(&quot;curelean&quot;);}">Cerulean</a></li>
      <li><a href="" data-bind="click: function(){navBindings.setTheme(&quot;cosmo&quot;);}">Cosmo</a></li>
      <li><a href="" data-bind="click: function(){navBindings.setTheme(&quot;cyborg&quot;);}">Cyborg</a></li>
      <li><a href="" data-bind="click: function(){navBindings.setTheme(&quot;superhero&quot;);}">Superhero</a></li>
      <li><a href="" data-bind="click: function(){navBindings.setTheme(&quot;customTheme&quot;);}">Custom</a></li>
      <ul style="display: none;" data-bind="jscolor,visible: navBindings.currentTheme() ===&quot;customTheme&quot;" class="nav nav-tabs nav-stacked">
        <li><a href="" data-bind="click: function(){navBindings.themeManager.resetCustomTheme();}">
            <div class="navbar navbar-inverse menu-title">
              <div class="navbar-inner"><span class="badge badge-inverse">Reset Custom Theme</span></div>
            </div></a></li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Body Font Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.bodyFontColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Body Background Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.bodyBackgroundColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Body Gradient From Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.bodyGradientFromColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Body Gradient To Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.bodyGradientToColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Info Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.infoColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Code Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.codeColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Code Font Family</span></div>
          </div>
          <input data-bind="value: navBindings.cto.codeFontFamily"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Font Size</span></div>
          </div>
          <input data-bind="value: navBindings.cto.fontSize"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Hover Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.hoverColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Well Background Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.wellBackgroundColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Top Nav Background Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.navBackgroundColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Suite Heading Background Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.navBarInnerBackgroundColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Inverse Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.inverseColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Success Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.successColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Error Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.errorColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Completed Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.completedColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Table Border Color</span></div>
          </div>
          <input data-bind="value: navBindings.cto.tableBorderColor" class="color"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Radius</span></div>
          </div>
          <input data-bind="value: navBindings.cto.radius"/>
        </li>
        <li>
          <div class="navbar navbar-inverse menu-title">
            <div class="navbar-inner"><span class="badge badge-info">Badge Radius</span></div>
          </div>
          <input data-bind="value: navBindings.cto.badgeRadius"/>
        </li>
      </ul>
    </ul>
  </div>
</nav>