<div id="code" class="well jstestabulView">

    <div id="suite-list" class="col-md-2 suite-list" style="position: relative; height: 100%;">
        <button class="btn btn-success"
                               data-bind="click: m.createNewCodeModule"><i class="fa fa-plus-square"></i></button>
                       <div class="btn btn-success"
                            data-bind="click: window.editor.saveCoffee"><i class="fa fa-save"></i></div>
        <div data-bind="'foreach': m.code">
            <div class="well" style="overflow: auto;">
                <div id="suiteDescription" class="col-md-12 suite-div"
                     data-bind="attr: {'id' : moduleName}">


                    <a style="height: 20px;"
                       data-bind="attr: {'href': '#' + moduleName}, click: function(){$parent.m.selectCodeModel(moduleName)}">

                                                        <span data-bind="text:moduleName"
                                                              class="label label-info suiteLabel"
                                                              style=""/>


                    </a>


                </div>
            </div>
        </div>


    </div>

    <div id="suite-selected" class="col-md-10 well suite-selected">
        <div class="col-md-push-2" style="position: fixed; top: 0px;z-index: 9999;">

            <div id="bloodhoundCode" class="moduleName brandit" data-bind="typeahead: {list: ItchCork.options.sourceList}" style="display: inline-block !important;">
                <div class="wrapper" >
                    <i class="fa fa-search"/>
                    <input class="typeahead moduleName brandit " type="text" placeholder="Search ..." style="padding-left: 45px;">
                </div>

            </div>

            <input type="text" class="moduleName brandit typeahead selectedModule"
                               data-bind="value: m.selectedCodeModel().moduleName, attr: {'size': m.selectedCodeModel().moduleName().length + 1 }">

        </div>

        <div class="suite-selected-section" id="codeEditor">

            <div id="editor-wrapper"
                 data-bind="js2coffeeEditor: m.selectedCodeModel">

                <div id="editorCoffee" class="editor ace_editor"></div>
                <div id="editorJS" class="editor ace_editor"></div>
            </div>
            <div id="infobox" style="display: none;">
                <div class="infobox-content"></div>
                <div class="arrow-wrapper">
                    <div class="arrow-down"></div>
                </div>
            </div>


        </div>

    </div>


</div>

