<div style="position:absolute; z-index: 9999; top: 3px; right: 3px; padding: 3px !important;"><span id="totalPassed"
                                                                                                    data-bind="text: m.stats.passes"
                                                                                                    class="well badge badge-success headCount"></span><span
        id="totalFailed" data-bind="text: m.stats.failures" class="well badge badge-important headCount"></span></div>
<div id="specs" class="well jstestabulView">

    <div id="suite-list" class="col-md-3 suite-list" style="position: relative; height: 100%;">
        <button class="btn btn-success"
                data-bind="click: m.createNewSpecModule"><i class="fa fa-plus-square"></i></button>
        <div class="btn btn-success"
             data-bind="click: window.editor.saveCoffee"><i class="fa fa-save"></i></div>
        <div data-bind="'foreach': m.specs">
            <div class="well" style="overflow: auto;">
                <div id="suiteDescription" class="col-md-12 suite-div"
                     data-bind="attr: {'id' : moduleName}">


                    <a style="height: 20px;"
                       data-bind="attr: {'href': '#' + moduleName}, click: function(){$parent.m.selectSpecModel(moduleName)}">

                                                        <span data-bind="text:moduleName"
                                                              class="label label-info suiteLabel"
                                                              style=""/>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div id="suite-selected" class="col-md-9 well suite-selected">
        <div class="col-md-push-3" style="position: fixed; top: 0px;">
            <input type="text" class="moduleName brandit typeahead selectedModule"
                   data-bind="value: m.selectedSpecModel().moduleName,attr: {'size': m.selectedSpecModel().moduleName().length + 1}">

            <div id="bloodhoundSpecs" data-bind="typeahead: {list: ItchCork.options.specs}">
                <input class="typeahead col-md-12" type="text" placeholder="Search for module ...">
            </div>
        </div>

        <div class="codeEditor suite-selected-section" id="codeEditorSpecs">

            <div id="editor-wrapper"
                 data-bind="js2coffeeEditor: m.selectedSpecModel">

                <div id="editorCoffee" class="editor ace_editor ace_nobold ace-monokai ace_dark"></div>
                <div id="editorJS" class="editor ace_editor ace_nobold ace-monokai ace_dark"></div>
            </div>
            <div id="infobox" style="display: none;">
                <div class="infobox-content"></div>
                <div class="arrow-wrapper">
                    <div class="arrow-down"></div>
                </div>
            </div>


        </div>


    </div>


</div>

